html {
  text-align: center;
}
body {
  font-family: 'Comfortaa', cursive;
  background: #D6FCDB;
  text-align: center;
  margin-top: 3em;
}
img {
  width: 10em;
}
#title-main {
  font-size: 3em;
  text-align: center;
}
form {
  width: 50%;
  margin: 2em auto;
}
input {
  font-size: 1.2em;
  font-family: 'Comfortaa', cursive;
}
ul {
  list-style: none;
  padding: 0;
  list-style-type: none;
}
iframe {
  width: auto;
  height: auto;
}

button{
padding: 10px 15px;
color: #fff;
background-color: #4682b4;
border-radius: 15px;
}

#wikiAbstract, #wikiTitle {
  width: 75%;
  margin: 2em auto;
  text-align: center;
}
@media screen and (max-width: 765px) {
  #wikiAbstract, #wikiTitle {
    width: 100%;
    margin: 2em auto;
    align: center;
  }
  #title-main {
    width: auto;
    margin: 1.2em auto;
    font-size: 1.5em;
  }
  #sub-title {
    font-size: 1em;
  }
  .iframe {
    float: left;
  }
  iframe {
    width: auto;
    height: auto;
    align: center;
  }
  img {
    width: 30%;
  }
  form {
    width: auto;
  }
  input {
    font-size: 0.8em;
  }
}
